
# Pycharm
.idea/

# sphinx
docs/_build/*

# My stuff
misc/

# Data files
data/output/*
data/input/*
scripts/__pycache__
plots/output/*
ai/models/*
ai/data/*
ai/plots/*
useful_functions/__pycache__/*
handle_data/__pycache__/*
config/__pycache__/*
ai/__pycache__/*
sim_scripts/__pycache__/*
ai/q_tables/*