
# Pycharm
.idea/

# sphinx
docs/_build/*

# My stuff
misc/

# Data files
data/output/*
data/input/*
scripts/__pycache__

ai_scripts/models/*

data/ai
data/input
data/output
data/plots

logs/*

ini/run_ini/config.ini
bash_scripts/slurm/*

useful_functions/__pycache__/*
handle_data/__pycache__/*
config_scripts/__pycache__/*
ai_scripts/__pycache__/*
sim_scripts/__pycache__/*
.vscode/

# Virtual environments
venvs/unity_venv
