networkx~=2.8.6
numpy~=1.23.3
pylint~=2.15.9
sphinx~=5.1.1
sphinx_rtd_theme~=1.0.0
pandas~=1.5.0
openpyxl~=3.0.10
matplotlib~=3.6.0
scipy~=1.9.2
seaborn~=0.12.2
stable-baselines3~=2.0.0
gymnasium~=0.28.1