networkx==3.2.1
numpy==1.26.3
pylint==3.0.3
sphinx==7.2.6
sphinx_rtd_theme==2.0.0
pandas==2.2.0
openpyxl==3.1.2
matplotlib==3.8.2
seaborn==0.13.2
stable-baselines3==2.2.1
gymnasium==0.29.1
scikit-learn==1.4.0